<div class="row">
    <div class="col-md-12">
        <p class="lead">Made by <a href="http://www.twitter.com/vikparuchuri">@vikparuchuri</a>.  Let me know if you have any feedback.</p>

        <h5>How does this work?</h5>
        <p>OwnerDraft uses machine learning and historical NFL data to calculate how a given combination of owner, GM, and coach would perform on a given team.  Check out the code at <a href="http://www.github.com/vikparuchuri/ownerchange">Github</a> for more details.</p>
        <h5>Why did you make this?</h5>
        <p>I've been a Washington fan for a while, and a disgruntled fan for approximately as long.  I wanted to see if another owner would be better than Dan Snyder.  Unfortunately, the data shows that almost every other owner is.</p>
        <h5>Can I help?</h5>
        <p>Absolutely!  Check out the code for this site on <a href="http://www.github.com/vikparuchuri/ownerchangefrontend">Github</a>, or the code for the <a href="http://www.github.com/vikparuchuri/ownerchange">machine learning part</a>.  Feel free to make a pull request if you want.</p>
        <h5>Machine learning sounds cool.  Can I learn how to do it?</h5>
        <p>I'm working on a site called <a href="http://www.dataquest.io">DataQuest</a> to help with that!</p>
        <h5>My owner sucks.  What do I do?</h5>
        <p>I wish I knew the answer to this one :(</p>
    </div>
</div>